html
  head
    title  test 
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    h1='Edit Student'
    form(action='/students/edit', method='POST')
      fieldset
        input#name(type='hidden', name='studentID', value=studentID)
        br
        label(for='name') Name: 
        input#name(type='text', name='name', value=name)
        br
        label(for='address') Address: 
        input#address(type='text', name='address', value=address)
        br
        label(for='gender') Gender: 
        input#gender(type='radio', size='25', name='gender', value='M', checked=gender=='M')
        i.helper
        | Male
        input#gender(type='radio', name='gender', value='F', checked=gender=='F')
        i.helper
        | Female
        br
        label(for='date_of_birth') Date Of Birth: 
        input#date_of_birth(type='date', name='date_of_birth', value=date_of_birth)
        br
        input(type='submit', value='Edit Student')